<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
  <a class="navbar-brand" href="#">DYM Ingenieros Constructores</a>
  <ul class="nav navbar-nav">
        <li><a href="/obras">Obras</a></li>
        <li><a href="/checadores">Checadores</a></li>
        <li><a href="/proveedores">Proveedores</a></li>
        <li><a href="/estimaciones">Estimaciones</a></li>
        <li><a href="/acarreos">Acarreos</a></li>
        <li><a href="/camiones">Camiones</a></li>
        <li><a href="/materiales">Materiales</a></li>
      </ul>
  </div>
</nav>
