<html>
<head>
  <meta charset="UTF-8">
  <title>DYM Ingenieros Constructores | Estimación Nueva</title>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<% if (usuario.categoria === "residente"){ %>
  <% include ./partials/residentesheader.ejs %>
<% }  else if (usuario.categoria === "administrador"){%>
   <% include ./partials/costosheader.ejs %>
<% } %>
<div id="content-container">
<% if (usuario.categoria === "administrador"){ %>
    <div class="form-group">
    <label for="obras">Obras</label>
    <select class="form-control" id="obra_id" name="obra_id">
    <% for(var i=0; i<obras.length; i++) {%>
      <option value="<%= obras[i].obra_id %>"><%= obras[i].nombre_obra %></option>
    <% } %>
    </select>
  </div>
<% } %>
  <div class="form-group" id="fechas">
    <label for="fecha">Periódo</label>
    <input type="date" class="form-control" id="date1" name="date1" onchange="clearResultados()">
    <input type="date" class="form-control" id="date2" name="date2" onchange="clearResultados()">
</div>
  <div class="form-group">
    <label for="proveedor">Proveedor</label>
    <select class="form-control" id="proveedor_id" name="proveedor_id" onchange="clearResultados()">
    <% for(var i=0; i<proveedores.length; i++) {%>
      <option value="<%= proveedores[i].id %>"><%= proveedores[i].razon_social %></option>
    <% } %>
    </select>
  </div>
    <div class="form-group">
    <label for="categoria">Categoría</label>
    <select class="form-control" id="categoria" name="categoria" onchange="clearResultados()">
      <option value="">Categoria</option>
      <option value="flete">Fletes</option>
      <option value="material">Materiales</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary" style="margin-bottom:3%; display:block;float:right" onclick="buscarAcarreos()">Buscar</button>
  <br>
  <div class="message"></div>
<div id="table" style="margin-top:30px;">

</div>
<div id="estimacion-button">
  </div>

<script src="/javascripts/script.js" type="text/javascript" charset="utf-8" async defer></script>
</body>
</html>
