<html>
<head>
  <meta charset="UTF-8">
  <title>DYM Ingenieros Constructores | Acarreo - Captura</title>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div id="button-container" style="display:block;height:10%;width:100%">
  <button class="btn btn-info" style="margin-bottom: 20px;float:right;" onclick="location.replace('/resumen')">Imprimir Recibo</button>
</div>
<div id="content-container">
<form action="/api/acarreos" method="POST" id="capturaForm" enctype="application/x-www-form-urlencoded">

   <div class="form-group" id="camioninfo">
      <label for="camion_id">Camión ID</label>
      <input type="password" class="form-control" id="scanner" name="numero" oninput="getCamion()" required autofocus autocomplete="off">
      <div id="search-status"></div>

      <input type="hidden" class="form-control" id="fletero" name="fletero">
      <input type="hidden" class="form-control" id="fletero_categoria" name="fletero_categoria">
      <input type="hidden" class="form-control" id="camion_categoria" name="camion_categoria">
      <input type="hidden" class="form-control" id="camion_id" name="camion_id">
      <input type="hidden" class="form-control" id="capacidad" name="capacidad">
      <input type="hidden" class="form-control" id="unidad" name="unidad">

    </div>

    <div class="form-group categoria-info" hidden>

      <label for="categoria">Categoría Acarreo:</label>
        <select class="form-control" id="categoria" name="categoria" onchange="revisarInterno()" required disabled>
            <option value="">Categoría</option>
            <option value="82">Acarreo Interno</option>
            <option value="92">Acarreo Externo</option>
            <option value="100">Acarreo Material</option>
    </select>
      <input type="hidden" class="form-control" id="concepto_flete" name="concepto_flete">
      </div>
    </div>
      <div id="banco-status"></div>
    <div id="bancoinfo" hidden>
      <label for="bancoinfo">Banco:</label>
          <select class="form-control" name="banco_id" id="banco" onchange="calcularFlete()" required disabled>
            <option value="">Banco</option>
      <% for(var i=0; i<proveedores.length; i++) {%>
            <option value="<%= proveedores[i].id %>"><%= proveedores[i].razon_social %></option>
    <% } %>
    </select>
    <br>
    </div>

    <div id="material-status"></div>
    <input type="hidden" class="form-control" id="proveedor_id" name="proveedor_id" >
    </div>

      <input type="hidden" class="form-control" id="flete_id" name="flete_id" >
      <input type="hidden" class="form-control" id="precio_flete" name="precio_flete" >


    <div id="material-info" hidden>
      <label for="material">Material</label>
        <select class="form-control" name="material_id" id="material_id" onchange="getMaterial()" required disabled>
        <option value="">Material</option>
        </select>
        <br>
    </div>

      <input type="hidden" class="form-control" id="precio_material" name="precio_material" >
      <input type="hidden" class="form-control" id="concepto_material" name="concepto_material" >


    <div class="form-group" name="zona" id="zona">
      <label for="zona">Zona</label>
        <select class="form-control" id="zonas" name="zona_id" required onchange="allowPhoto()" disabled>
            <option value="">Zonas</option>
      <% for(var i=0; i<zonas.length; i++) {%>
            <option value="<%= zonas[i].zona %>"><%= zonas[i].nombre_zona %></option>
    <% } %>
        </select>
        <div id="zonas-status"></div>
    </div>
<!--     <div class="form-group" name="foto" id="foto">
      <div onclick="getImage()" id="photo-button" class="btn btn-primary" disabled><span class="glyphicon glyphicon-camera"></span></div>
      <br>
      <div style="margin-top: 5px">
      <input type="text" class="form-control" id="photo" name="photo" readonly="readonly">
    </div>
    </div> -->

    <div id="photo-status"></div>

    <div class="form-group" name="submit" id="submit" style="margin-top: 10px">
    <input type="submit" id="submit-button" class="btn btn-primary"  disabled="disabled" value="Guardar">

    </div>
</form>
</div>
<script src="/javascripts/captura.js" type="text/javascript" charset="utf-8" async defer></script>
</body>
</html>

