<html>
<head>
  <meta charset="UTF-8">
  <title>Acarreo - Captura</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
<div id="content-container">
<form action="/api/acarreos" method="POST" enctype="application/x-www-form-urlencoded">

   <div class="form-group" id="camion_id">
      <label for="camion_id">Camión ID</label>
      <input type="text" class="form-control" id="scanner" name="numero" oninput="getCamion()" required autofocus autocomplete="off">
      <div id="search-status"></div>
    </div>

    <div class="form-group" id="concepto_flete">
    <div id="concepto_flete">
      <label for="concepto_flete">Concepto Flete:</label>
        <select class="form-control" id="concepto" name="concepto_flete" onchange="getProveedores()" required >
            <option value="">Concepto</option>
            <option value="82">Acarreo Interno</option>
            <option value="92">Acarreo Externo</option>
    </select>
    </div>
    </div>

        <div class="form-group" id="materialinfo">
    <div id="proveedor">
      <label for="proveedor">Proveedor Material:</label>
          <select class="form-control" name="proveedor_id" id="proveedor_id" onchange="getMateriales()" required disabled>
            <option value="">Proveedor</option>
      <% for(var i=0; i<proveedores.length; i++) {%>
            <option value="<%= proveedores[i].id %>"><%= proveedores[i].razon_social %></option>
    <% } %>
    </select>
    </div>
    </div>

    <div class="form-group" id="materialinfo">
    <div id="material">
      <label for="material">Material</label>
        <select class="form-control" name="material_id" id="material_id" onchange="getMaterial()" required disabled>
        <option value="">Material</option>
        </select>
    </div>
    </div>
    <div class="form-group" id="precio">
      <label for="precio">Precio Unitario</label>
      <input type="text" class="form-control" id="precio-input" name="precio" readonly="readonly">
    </div>

    <div class="form-group" name="zona" id="zona">
      <label for="zona">Zona</label>
        <select class="form-control" id="zonas" name="zona" required onchange="allowPhoto()" disabled>
            <option value="">Zonas</option>
      <% for(var i=0; i<zonas.length; i++) {%>
            <option value="<%= zonas[i].zonas_id %>"><%= zonas[i].nombre_zona %></option>
    <% } %>
        </select>
    </div>
    <div class="form-group" name="foto" id="foto">
      <div onclick="getImage()" id="photo-button" class="btn btn-primary" disabled>Capturar Imagen</div>
      <br>
      <div style="margin-top: 5px">
      <input type="text" class="form-control" id="photo" name="photo" readonly="readonly">
    </div>
    </div>

    <div id="photo-status"></div>

    <div class="form-group" name="submit" id="submit" style="margin-top: 10px">
      <button type="submit" id="submit-button" class="btn btn-primary" disabled>Ver ticket</button>
    </div>
</form>
</div>
<script src="/javascripts/script.js" type="text/javascript" charset="utf-8" async defer></script>
</body>
</html>

