  <div class="form-group">
  <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Descripci贸n</div>
     <table class="table" id="tabla-estimacion">
       <tr>
         <td>
           Concepto
         </td>
        <td>
           Unidad
         </td>
         <td>
           Cantidad Presupuesto
         </td>
         <td>
           Esta Estimaci贸n
         </td>
         <td>
           Acumulado Anterior
         </td>
         <td>
           Acumulado <br>Actual
         </td>
         <td>
           Actual por <br>Ejercer
         </td>
         <td>
            Importe
         </td>
       </tr>
        <tr>
         <td>
           <input type="text" id="concepto" >
         </td>
        <td>
        <input type="text" id="unidad" >
         </td>
         <td>
           <input type="text" id="cantidad_presupuesto" >
         </td>
         <td>
           <input type="text" id="esta_estimacion" >
         </td>
         <td>
         </td>
         <td>
           <input type="text" id="acumulado_actual" >
         </td>
         <td>
           <input type="text" id="actual_por_ejercer" >
         </td>
         <td>
            <input type="text" id="importe" >
         </td>

       </tr>
     </table>
     </div>
     </div>
     <div id="add-row"><button class="btn btn-success">Add Item</button></div>
  </div>
  <div class="form-group" id="subtotales">
  <div id="total-container">
    <label for="subtotal">Subtotal</label>
    <input type="text" id="subtotal" placeholder="subtotal">
    <label for="iva">Iva</label>
    <input type="text" id="iva" placeholder="iva" disabled>
    <label for="retencion">Retenci贸n</label>
    <input type="text" id="retencion" placeholder="retenci贸n" disabled>
    <label for="total">Total</label>
    <input type="text" id="total" placeholder="total" disabled>
    </div>
  </div>
  <div class="form-group">
    <label for="pagado">Pagado</label>
    <input type="checkbox">
    <label for="fecha_pago">Fecha de Pago</label>
    <input type="text" placeholder="Fecha de Pago">
    <label for="fecha_pago">No. Factura</label>
    <input type="text" placeholder="Factura">
  </div>
