<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
    <div id="login-logo">
      <img src="/images/dym-logo.png" alt="" align="center">
    </div>
              <div class="panel-body">
              <form action="/signin" method="post">
                              <div class="form-group">
                  <label for="username">Usuario:</label>
                  <input type="text" name="username" class="form-control">
                </div>

                <div class="form-group">
                  <label for="password">Password:</label>
                  <input type="password" name="password" class="form-control">
                </div>

                <input type="submit" value="Entrar" class="btn btn-default">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
