<!DOCTYPE html>
<html>
  <head>
    <title>Login | DYM Ingenieros Constructores</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body id="login-body">
    <div class="container">
    <div id="login-logo">
      <img src="/images/dym-logo.png" alt="" align="center">
    </div>
              <div class="panel-body">
              <form action="/users/login" method="post" class="login-form">
                              <div class="form-group">
                  <label for="username">Usuario:</label>
                  <input type="text" name="username" class="form-control login-input">
                </div>

                <div class="form-group">
                  <label for="password">Password:</label>
                  <input type="password" name="password" class="form-control login-input">
                </div>

                <input type="submit" value="ENTRAR" class="btn btn-default btn-info login-button" style="display:flex">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
