<html>
<head>
  <meta charset="UTF-8">
  <title>DYM Ingenieros Constructores | <%= title %></title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<% if (usuario.categoria === "residente"){ %>
  <% include ./partials/residentesheader.ejs %>
<% }  else if (usuario.categoria === "administrador"){%>
   <% include ./partials/costosheader.ejs %>
<% } %>
<div id="content-container">
<form action="/api/camiones" method="POST" enctype="application/x-www-form-urlencoded">
<div class="input-group">
  <label>Número:</label>
  <input type="text" class="form-control" name="numero" id="numero">
</div>

<div class="input-group">
  <label>Placas:</label>
  <input type="text" class="form-control" placeholder="Placas" name="placas" id="placas">
</div>

<div class="input-group">
  <label>Modelo:</label>
    <input type="text" class="form-control" placeholder="Modelo" name="modelo" id="modelo">
</div>

<div class="input-group">
  <label>Capacidad:</label>
  <input type="text" class="form-control" placeholder="Capacidad" name="capacidad" id="capacidad">
</div>

<div class="input-group">
<label>Unidad:</label>
  <select class="form-control" name="unidad" id="unidad">
        <option value="">Unidad</option>
      <option value="m">m</option>
      <option value="m2">m2</option>
      <option value="m3">m3</option>
      <option value="ton">ton</option>
  </select>
</div>

<div class="input-group">
  <label>Precio Unitario:</label>
  <input type="text" class="form-control" placeholder="Precio Unitario" name="precio_flete" id="precio_flete">
</div>

<div class="input-group">
<label>Proveedor:</label>
<select class="form-control" name="proveedor_id" id="proveedor_id">
            <option value="">Proveedor</option>
      <% for(var i=0; i<proveedores.length; i++) {%>
            <option value="<%= proveedores[i].id %>"><%= proveedores[i].razon_social %></option>
    <% } %>
    </select>
</div>
<br>
  <button type="submit" class="btn btn-primary">Guardar</button>
</form>
</div>
</body>
</html>
