<html>
<head>
  <meta charset="UTF-8">
  <title>Presupuesto</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>
<body>
<% include ./partials/residentesheader.ejs %>
  <div style="margin-top:10px">
    <select class="form-control" id="obraselect" onchange="getPresupuestos()">
      <option value="">Obra</option>
    <% for(var i=0; i<obras.length; i++) { %>
      <option value="<%= obras[i].obra_id %>"><%= obras[i].nombre_obra %></option>
    <% } %>
    </select>
  </div>
  <br>
<div id="content-container">

<div id="concepto-presupuesto">
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Generales</div>
  <table clas="table">
    <tr>
      <td><select name="concepto1" id="concepto1" class="form-control">
        <option value="Acarreo Externo" selected>Acarreo Externo</option>
        <option value="Acarreo Interno">Acarreo Interno</option>
        <option value="Piedra">Piedra</option>
        <option value="Material de Banco">Material de Banco</option>
        <option value="Sub-base">Sub-base</option>
        <option value="Base">Base</option>
        <option value="Impregnación">Impregnación</option>
        <option value="Carpeta 5 cm">Carpeta 5 cm</option>
        <option value="Carpeta 7 cm">Carpeta 7 cm</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="Cantidad"></td>
      <td><select name="unidad1" id="unidad1" class="form-control">
        <option value="m">m</option>
        <option value="m2">m2</option>
        <option value="m3" selected>m3</option>
        <option value="ton">ton</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="$0.00" disabled></td>
    </tr>
    <tr>
      <td><select name="concepto1" id="concepto1" class="form-control">
        <option value="Acarreo Externo">Acarreo Externo</option>
        <option value="Acarreo Interno" selected>Acarreo Interno</option>
        <option value="Piedra">Piedra</option>
        <option value="Material de Banco">Material de Banco</option>
        <option value="Sub-base">Sub-base</option>
        <option value="Base">Base</option>
        <option value="Impregnación">Impregnación</option>
        <option value="Carpeta 5 cm">Carpeta 5 cm</option>
        <option value="Carpeta 7 cm">Carpeta 7 cm</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="Cantidad"></td>
      <td><select name="unidad1" id="unidad1" class="form-control">
        <option value="m">m</option>
        <option value="m2">m2</option>
        <option value="m3" selected>m3</option>
        <option value="ton">ton</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="$0.00" disabled></td>

    </tr>
    </table>
    </div>
    </div>
    <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Plataforma</div>
  <table clas="table">

    <tr>
      <td><select name="concepto1" id="concepto1" class="form-control">
        <option value="Acarreo Externo">Acarreo Externo</option>
        <option value="Acarreo Interno">Acarreo Interno</option>
        <option value="Piedra" selected>Piedra</option>
        <option value="Material de Banco">Material de Banco</option>
        <option value="Sub-base">Sub-base</option>
        <option value="Base">Base</option>
        <option value="Impregnación">Impregnación</option>
        <option value="Carpeta 5 cm">Carpeta 5 cm</option>
        <option value="Carpeta 7 cm">Carpeta 7 cm</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="Cantidad"></td>
      <td><select name="unidad1" id="unidad1" class="form-control">
        <option value="m">m</option>
        <option value="m2">m2</option>
        <option value="m3" selected>m3</option>
        <option value="ton">ton</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="$0.00" disabled></td>
    </tr>
    <tr>
      <td><select name="concepto1" id="concepto1" class="form-control">
        <option value="Acarreo Externo">Acarreo Externo</option>
        <option value="Acarreo Interno">Acarreo Interno</option>
        <option value="Piedra">Piedra</option>
        <option value="Material de Banco" selected>Material de Banco</option>
        <option value="Sub-base">Sub-base</option>
        <option value="Base">Base</option>
        <option value="Impregnación">Impregnación</option>
        <option value="Carpeta 5 cm">Carpeta 5 cm</option>
        <option value="Carpeta 7 cm">Carpeta 7 cm</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="Cantidad"></td>
      <td><select name="unidad1" id="unidad1" class="form-control">
        <option value="m">m</option>
        <option value="m2">m2</option>
        <option value="m3" selected>m3</option>
        <option value="ton">ton</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="$0.00" disabled></td>
    </tr>
        <tr>
      <td><select name="concepto1" id="concepto1" class="form-control">
        <option value="Acarreo Externo">Acarreo Externo</option>
        <option value="Acarreo Interno">Acarreo Interno</option>
        <option value="Piedra">Piedra</option>
        <option value="Material de Banco">Material de Banco</option>
        <option value="Sub-base">Sub-base</option>
        <option value="Base" selected>Base</option>
        <option value="Impregnación">Impregnación</option>
        <option value="Carpeta 5 cm">Carpeta 5 cm</option>
        <option value="Carpeta 7 cm">Carpeta 7 cm</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="Cantidad"></td>
      <td><select name="unidad1" id="unidad1" class="form-control">
        <option value="m">m</option>
        <option value="m2">m2</option>
        <option value="m3" selected>m3</option>
        <option value="ton">ton</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="$0.00" disabled></td>
    </tr>
    <tr>
      <td><select name="concepto1" id="concepto1" class="form-control">
        <option value="Acarreo Externo">Acarreo Externo</option>
        <option value="Acarreo Interno">Acarreo Interno</option>
        <option value="Piedra">Piedra</option>
        <option value="Material de Banco">Material de Banco</option>
        <option value="Sub-base">Sub-base</option>
        <option value="Base">Base</option>
        <option value="Impregnación" selected>Impregnación</option>
        <option value="Carpeta 5 cm">Carpeta 5 cm</option>
        <option value="Carpeta 7 cm">Carpeta 7 cm</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="Cantidad"></td>
      <td><select name="unidad1" id="unidad1" class="form-control">
        <option value="m">m</option>
        <option value="m2">m2</option>
        <option value="m3" selected>m3</option>
        <option value="ton">ton</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="$0.00" disabled></td>
    </tr>
    </table>
    </div>
  </div>

  <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Tráfico Pesado</div>
  <table clas="table">
    <tr>
      <td><select name="concepto1" id="concepto1" class="form-control">
        <option value="Acarreo Externo" selected>Acarreo Externo</option>
        <option value="Acarreo Interno">Acarreo Interno</option>
        <option value="Piedra">Piedra</option>
        <option value="Material de Banco">Material de Banco</option>
        <option value="Sub-base">Sub-base</option>
        <option value="Base">Base</option>
        <option value="Impregnación">Impregnación</option>
        <option value="Carpeta 5 cm">Carpeta 5 cm</option>
        <option value="Carpeta 7 cm">Carpeta 7 cm</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="Cantidad"></td>
      <td><select name="unidad1" id="unidad1" class="form-control">
        <option value="m">m</option>
        <option value="m2">m2</option>
        <option value="m3" selected>m3</option>
        <option value="ton">ton</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="$0.00" disabled></td>
    </tr>
    <tr>
      <td><select name="concepto1" id="concepto1" class="form-control">
        <option value="Acarreo Externo">Acarreo Externo</option>
        <option value="Acarreo Interno" selected>Acarreo Interno</option>
        <option value="Piedra">Piedra</option>
        <option value="Material de Banco">Material de Banco</option>
        <option value="Sub-base">Sub-base</option>
        <option value="Base">Base</option>
        <option value="Impregnación">Impregnación</option>
        <option value="Carpeta 5 cm">Carpeta 5 cm</option>
        <option value="Carpeta 7 cm">Carpeta 7 cm</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="Cantidad"></td>
      <td><select name="unidad1" id="unidad1" class="form-control">
        <option value="m">m</option>
        <option value="m2">m2</option>
        <option value="m3" selected>m3</option>
        <option value="ton">ton</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="$0.00" disabled></td>
    </tr>
        <tr>
      <td><select name="concepto1" id="concepto1" class="form-control">
        <option value="Acarreo Externo">Acarreo Externo</option>
        <option value="Acarreo Interno">Acarreo Interno</option>
        <option value="Piedra" selected>Piedra</option>
        <option value="Material de Banco">Material de Banco</option>
        <option value="Sub-base">Sub-base</option>
        <option value="Base">Base</option>
        <option value="Impregnación">Impregnación</option>
        <option value="Carpeta 5 cm">Carpeta 5 cm</option>
        <option value="Carpeta 7 cm">Carpeta 7 cm</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="Cantidad"></td>
      <td><select name="unidad1" id="unidad1" class="form-control">
        <option value="m">m</option>
        <option value="m2">m2</option>
        <option value="m3" selected>m3</option>
        <option value="ton">ton</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="$0.00" disabled></td>
    </tr>
    <tr>
      <td><select name="concepto1" id="concepto1" class="form-control">
        <option value="Acarreo Externo">Acarreo Externo</option>
        <option value="Acarreo Interno">Acarreo Interno</option>
        <option value="Piedra" >Piedra</option>
        <option value="Material de Banco" selected>Material de Banco</option>
        <option value="Sub-base">Sub-base</option>
        <option value="Base">Base</option>
        <option value="Impregnación">Impregnación</option>
        <option value="Carpeta 5 cm">Carpeta 5 cm</option>
        <option value="Carpeta 7 cm">Carpeta 7 cm</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="Cantidad"></td>
      <td><select name="unidad1" id="unidad1" class="form-control">
        <option value="m">m</option>
        <option value="m2">m2</option>
        <option value="m3" selected>m3</option>
        <option value="ton">ton</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="$0.00" disabled></td>
    </tr>
        <tr>
      <td><select name="concepto1" id="concepto1" class="form-control">
        <option value="Acarreo Externo">Acarreo Externo</option>
        <option value="Acarreo Interno">Acarreo Interno</option>
        <option value="Piedra">Piedra</option>
        <option value="Material de Banco">Material de Banco</option>
        <option value="Sub-base" selected>Sub-base</option>
        <option value="Base">Base</option>
        <option value="Impregnación">Impregnación</option>
        <option value="Carpeta 5 cm">Carpeta 5 cm</option>
        <option value="Carpeta 7 cm">Carpeta 7 cm</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="Cantidad"></td>
      <td><select name="unidad1" id="unidad1" class="form-control">
        <option value="m">m</option>
        <option value="m2">m2</option>
        <option value="m3" selected>m3</option>
        <option value="ton">ton</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="$0.00" disabled></td>
    </tr>
    <tr>
      <td><select name="concepto1" id="concepto1" class="form-control">
        <option value="Acarreo Externo">Acarreo Externo</option>
        <option value="Acarreo Interno">Acarreo Interno</option>
        <option value="Piedra" >Piedra</option>
        <option value="Material de Banco">Material de Banco</option>
        <option value="Sub-base">Sub-base</option>
        <option value="Base" selected>Base</option>
        <option value="Impregnación">Impregnación</option>
        <option value="Carpeta 5 cm">Carpeta 5 cm</option>
        <option value="Carpeta 7 cm">Carpeta 7 cm</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="Cantidad"></td>
      <td><select name="unidad1" id="unidad1" class="form-control">
        <option value="m">m</option>
        <option value="m2">m2</option>
        <option value="m3" selected>m3</option>
        <option value="ton">ton</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="$0.00" disabled></td>
    </tr>
    <tr>
      <td><select name="concepto1" id="concepto1" class="form-control">
        <option value="Acarreo Externo">Acarreo Externo</option>
        <option value="Acarreo Interno">Acarreo Interno</option>
        <option value="Piedra">Piedra</option>
        <option value="Material de Banco">Material de Banco</option>
        <option value="Sub-base">Sub-base</option>
        <option value="Base">Base</option>
        <option value="Impregnación" selected>Impregnación</option>
        <option value="Carpeta 5 cm">Carpeta 5 cm</option>
        <option value="Carpeta 7 cm">Carpeta 7 cm</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="Cantidad"></td>
      <td><select name="unidad1" id="unidad1" class="form-control">
        <option value="m">m</option>
        <option value="m2">m2</option>
        <option value="m3" selected>m3</option>
        <option value="ton">ton</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="$0.00" disabled></td>
    </tr>
    <tr>
      <td><select name="concepto1" id="concepto1" class="form-control">
        <option value="Acarreo Externo">Acarreo Externo</option>
        <option value="Acarreo Interno">Acarreo Interno</option>
        <option value="Piedra">Piedra</option>
        <option value="Material de Banco">Material de Banco</option>
        <option value="Sub-base">Sub-base</option>
        <option value="Base">Base</option>
        <option value="Impregnación">Impregnación</option>
        <option value="Carpeta 5 cm">Carpeta 5 cm</option>
        <option value="Carpeta 7 cm" selected>Carpeta 7 cm</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="Cantidad"></td>
      <td><select name="unidad1" id="unidad1" class="form-control">
        <option value="m">m</option>
        <option value="m2">m2</option>
        <option value="m3" selected>m3</option>
        <option value="ton">ton</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="$0.00" disabled></td>
    </tr>
    </table>
    </div>
  </div>

  <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Tráfico Ligero</div>
  <table clas="table">
    <tr>
      <td><select name="concepto1" id="concepto1" class="form-control">
        <option value="Acarreo Externo" selected>Acarreo Externo</option>
        <option value="Acarreo Interno">Acarreo Interno</option>
        <option value="Piedra">Piedra</option>
        <option value="Material de Banco">Material de Banco</option>
        <option value="Sub-base">Sub-base</option>
        <option value="Base">Base</option>
        <option value="Impregnación">Impregnación</option>
        <option value="Carpeta 5 cm">Carpeta 5 cm</option>
        <option value="Carpeta 7 cm">Carpeta 7 cm</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="Cantidad"></td>
      <td><select name="unidad1" id="unidad1" class="form-control">
        <option value="m">m</option>
        <option value="m2">m2</option>
        <option value="m3" selected>m3</option>
        <option value="ton">ton</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="$0.00" disabled></td>
    </tr>
    <tr>
      <td><select name="concepto1" id="concepto1" class="form-control">
        <option value="Acarreo Externo">Acarreo Externo</option>
        <option value="Acarreo Interno" selected>Acarreo Interno</option>
        <option value="Piedra" >Piedra</option>
        <option value="Material de Banco">Material de Banco</option>
        <option value="Sub-base">Sub-base</option>
        <option value="Base">Base</option>
        <option value="Impregnación">Impregnación</option>
        <option value="Carpeta 5 cm">Carpeta 5 cm</option>
        <option value="Carpeta 7 cm">Carpeta 7 cm</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="Cantidad"></td>
      <td><select name="unidad1" id="unidad1" class="form-control">
        <option value="m">m</option>
        <option value="m2">m2</option>
        <option value="m3" selected>m3</option>
        <option value="ton">ton</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="$0.00" disabled></td>
    </tr>
        <tr>
      <td><select name="concepto1" id="concepto1" class="form-control">
        <option value="Acarreo Externo">Acarreo Externo</option>
        <option value="Acarreo Interno">Acarreo Interno</option>
        <option value="Piedra" selected>Piedra</option>
        <option value="Material de Banco">Material de Banco</option>
        <option value="Sub-base">Sub-base</option>
        <option value="Base">Base</option>
        <option value="Impregnación">Impregnación</option>
        <option value="Carpeta 5 cm">Carpeta 5 cm</option>
        <option value="Carpeta 7 cm">Carpeta 7 cm</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="Cantidad"></td>
      <td><select name="unidad1" id="unidad1" class="form-control">
        <option value="m">m</option>
        <option value="m2">m2</option>
        <option value="m3" selected>m3</option>
        <option value="ton">ton</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="$0.00" disabled></td>
    </tr>
    <tr>
      <td><select name="concepto1" id="concepto1" class="form-control">
        <option value="Acarreo Externo">Acarreo Externo</option>
        <option value="Acarreo Interno">Acarreo Interno</option>
        <option value="Piedra" >Piedra</option>
        <option value="Material de Banco" selected>Material de Banco</option>
        <option value="Sub-base">Sub-base</option>
        <option value="Base">Base</option>
        <option value="Impregnación">Impregnación</option>
        <option value="Carpeta 5 cm">Carpeta 5 cm</option>
        <option value="Carpeta 7 cm">Carpeta 7 cm</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="Cantidad"></td>
      <td><select name="unidad1" id="unidad1" class="form-control">
        <option value="m">m</option>
        <option value="m2">m2</option>
        <option value="m3" selected>m3</option>
        <option value="ton">ton</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="$0.00" disabled></td>
    </tr>
        <tr>
      <td><select name="concepto1" id="concepto1" class="form-control">
        <option value="Acarreo Externo">Acarreo Externo</option>
        <option value="Acarreo Interno">Acarreo Interno</option>
        <option value="Piedra" >Piedra</option>
        <option value="Material de Banco">Material de Banco</option>
        <option value="Sub-base" selected>Sub-base</option>
        <option value="Base">Base</option>
        <option value="Impregnación">Impregnación</option>
        <option value="Carpeta 5 cm">Carpeta 5 cm</option>
        <option value="Carpeta 7 cm">Carpeta 7 cm</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="Cantidad"></td>
      <td><select name="unidad1" id="unidad1" class="form-control">
        <option value="m">m</option>
        <option value="m2">m2</option>
        <option value="m3" selected>m3</option>
        <option value="ton">ton</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="$0.00" disabled></td>
    </tr>
    <tr>
      <td><select name="concepto1" id="concepto1" class="form-control">
        <option value="Acarreo Externo">Acarreo Externo</option>
        <option value="Acarreo Interno">Acarreo Interno</option>
        <option value="Piedra" >Piedra</option>
        <option value="Material de Banco">Material de Banco</option>
        <option value="Sub-base">Sub-base</option>
        <option value="Base" selected>Base</option>
        <option value="Impregnación">Impregnación</option>
        <option value="Carpeta 5 cm">Carpeta 5 cm</option>
        <option value="Carpeta 7 cm">Carpeta 7 cm</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="Cantidad"></td>
      <td><select name="unidad1" id="unidad1" class="form-control">
        <option value="m">m</option>
        <option value="m2">m2</option>
        <option value="m3" selected>m3</option>
        <option value="ton">ton</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="$0.00" disabled></td>
    </tr>
    <tr>
      <td><select name="concepto1" id="concepto1" class="form-control">
        <option value="Acarreo Externo">Acarreo Externo</option>
        <option value="Acarreo Interno">Acarreo Interno</option>
        <option value="Piedra" >Piedra</option>
        <option value="Material de Banco">Material de Banco</option>
        <option value="Sub-base">Sub-base</option>
        <option value="Base">Base</option>
        <option value="Impregnación" selected>Impregnación</option>
        <option value="Carpeta 5 cm">Carpeta 5 cm</option>
        <option value="Carpeta 7 cm">Carpeta 7 cm</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="Cantidad"></td>
      <td><select name="unidad1" id="unidad1" class="form-control">
        <option value="m">m</option>
        <option value="m2">m2</option>
        <option value="m3" selected>m3</option>
        <option value="ton">ton</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="$0.00" disabled></td>
    </tr>
        <tr>
      <td><select name="concepto1" id="concepto1" class="form-control">
        <option value="Acarreo Externo">Acarreo Externo</option>
        <option value="Acarreo Interno">Acarreo Interno</option>
        <option value="Piedra" >Piedra</option>
        <option value="Material de Banco">Material de Banco</option>
        <option value="Sub-base">Sub-base</option>
        <option value="Base">Base</option>
        <option value="Impregnación">Impregnación</option>
        <option value="Carpeta 5 cm" selected>Carpeta 5 cm</option>
        <option value="Carpeta 7 cm">Carpeta 7 cm</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="Cantidad"></td>
      <td><select name="unidad1" id="unidad1" class="form-control">
        <option value="m">m</option>
        <option value="m2">m2</option>
        <option value="m3" selected>m3</option>
        <option value="ton">ton</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="$0.00" disabled></td>
    </tr>
    </table>
    </div>
  </div>

    <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Cuartos Exteriores</div>
  <table clas="table">
        <tr>
      <td><select name="concepto1" id="concepto1" class="form-control">
        <option value="Acarreo Externo">Acarreo Externo</option>
        <option value="Acarreo Interno">Acarreo Interno</option>
        <option value="Piedra" selected>Piedra</option>
        <option value="Material de Banco">Material de Banco</option>
        <option value="Sub-base">Sub-base</option>
        <option value="Base">Base</option>
        <option value="Impregnación">Impregnación</option>
        <option value="Carpeta 5 cm">Carpeta 5 cm</option>
        <option value="Carpeta 7 cm">Carpeta 7 cm</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="Cantidad"></td>
      <td><select name="unidad1" id="unidad1" class="form-control">
        <option value="m">m</option>
        <option value="m2">m2</option>
        <option value="m3" selected>m3</option>
        <option value="ton">ton</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="$0.00" disabled></td>
    </tr>
    <tr>
      <td><select name="concepto1" id="concepto1" class="form-control">
        <option value="Acarreo Externo">Acarreo Externo</option>
        <option value="Acarreo Interno">Acarreo Interno</option>
        <option value="Piedra" >Piedra</option>
        <option value="Material de Banco" selected>Material de Banco</option>
        <option value="Sub-base">Sub-base</option>
        <option value="Base">Base</option>
        <option value="Impregnación">Impregnación</option>
        <option value="Carpeta 5 cm">Carpeta 5 cm</option>
        <option value="Carpeta 7 cm">Carpeta 7 cm</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="Cantidad"></td>
      <td><select name="unidad1" id="unidad1" class="form-control">
        <option value="m">m</option>
        <option value="m2">m2</option>
        <option value="m3" selected>m3</option>
        <option value="ton">ton</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="$0.00" disabled></td>
    </tr>
    <tr>
      <td><select name="concepto1" id="concepto1" class="form-control">
        <option value="Acarreo Externo">Acarreo Externo</option>
        <option value="Acarreo Interno">Acarreo Interno</option>
        <option value="Piedra" >Piedra</option>
        <option value="Material de Banco">Material de Banco</option>
        <option value="Sub-base">Sub-base</option>
        <option value="Base" selected>Base</option>
        <option value="Impregnación">Impregnación</option>
        <option value="Carpeta 5 cm">Carpeta 5 cm</option>
        <option value="Carpeta 7 cm">Carpeta 7 cm</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="Cantidad"></td>
      <td><select name="unidad1" id="unidad1" class="form-control">
        <option value="m">m</option>
        <option value="m2">m2</option>
        <option value="m3" selected>m3</option>
        <option value="ton">ton</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="$0.00" disabled></td>
    </tr>
    <tr>
      <td><select name="concepto1" id="concepto1" class="form-control">
        <option value="Acarreo Externo">Acarreo Externo</option>
        <option value="Acarreo Interno">Acarreo Interno</option>
        <option value="Piedra">Piedra</option>
        <option value="Material de Banco">Material de Banco</option>
        <option value="Sub-base">Sub-base</option>
        <option value="Base">Base</option>
        <option value="Impregnación" selected>Impregnación</option>
        <option value="Carpeta 5 cm">Carpeta 5 cm</option>
        <option value="Carpeta 7 cm">Carpeta 7 cm</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="Cantidad"></td>
      <td><select name="unidad1" id="unidad1" class="form-control">
        <option value="m">m</option>
        <option value="m2">m2</option>
        <option value="m3" selected>m3</option>
        <option value="ton">ton</option>
      </select></td>
      <td><input type="text" class="form-control" placeholder="$0.00" disabled></td>
    </tr>

    </table>
    </div>
  </div>
</div>
<br>
</div>
<script src="/javascripts/script.js" type="text/javascript" charset="utf-8" async defer></script>
</body>
</html>
