<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron text-center">
        <h1>Checador Nuevo</h1>
      </div>
            <div class="panel-body">

              <form action="/signup/<%=accessToken %>" method="post">
                <div class="form-group">
                  <label for="empleado_id">ID:</label>
                  <input type="text" name="empleado_id" class="form-control">
                </div>
                <div class="form-group">
                <select class="form-control" name="obra_id" id="obra_id">
                <option value="">Obra</option>
                <% for(var i=0; i<obras.length; i++) {%>
                <option value="<%= obras[i].obra_id %>"><%= obras[i].nombre_obra %></option>
                    <% } %>
                    </select>
                    </div>
                <div class="form-group">
                  <label for="username">Usuario:</label>
                  <input type="text" name="username" class="form-control">
                </div>

                <div class="form-group">
                  <label for="password">Password:</label>
                  <input type="password" name="password" class="form-control">
                </div>

                <input type="submit" value="Registrar" class="btn btn-default">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
